@model ProductViewModel

<div>
    <h4>@Model.Name</h4>
    <p>Price: @Model.Price</p>
    <p>Count: @Model.Count</p>
    <p>Inventory Value: @Model.InventoryValue</p>
    @* <p>Category: @Model.Category</p> *@
</div>
